extends common/layout

block layout-content 
  .container
    .row.justify-content-center.align-items-center.m-4
      .col-lg-8.text-center
        h1.page-title.mb-4 Online Yoga Studio
        p.page-description.mb-4 Find your perfect yoga class and connect with experienced instructors.
     
    // Row for class cards
    .row
      each classData in classes
        .col-lg-4.mb-4
          .card
            .card-body.text-center
              h5.card-title #{classData.type}
              p.card-text #{classData.description}
              a.btn.btn-primary(href=`/classes/${classData._id}`) Explore Class
