header.header-area.header-sticky
  nav.main-nav.navbar.navbar-expand-md.navbar-light.bg-light.px-3
    a.navbar-brand(href="/")
      h1.h4.font-weight-normal Admin Dashboard

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon

    div.collapse.navbar-collapse#navbarNav
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/") Home
        li.nav-item
          a.nav-link(href="/admin/add-class") Add Class
        li.nav-item
          a.nav-link(href="/admin/add-instructor") Add Instructor
        li.nav-item
          a.nav-link(href="/admin/view-contact") View Contacts and Enquiries