header#header 
  h2#site-name 
    a(href="/") Online Yoga Studio

  nav#navigation
    ul
      li
        a(href="/") Home
      li
        a(href="/classes") Classes
      li
        a(href="/instructors") Instructors
      li
        a(href="/contact") Contact
